DATABASE_URL=postgresql://postgres:250244@localhost:5433/packman
PORT=8000


DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=PASSWORD
DB_NAME=DATABASE_NAME

# MongoDB Configuration
# JWT Configuration
JWT_SECRET=JWT_SECRET

# Application Configuration
NODE_ENV=production
PORT=3001 